@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
  background: linear-gradient(to right, #FFEB3B, #4CAF50, #FFEB3B); /* Yellow to Green gradient */
  background-size: 200% 100%;
  -webkit-background-clip: text; /* Apply gradient to text */
  -webkit-text-fill-color: transparent; /* Make text color transparent */
  font-size: rem; /* Font size */
  font-weight: bold; /* Font weight */
/* Equivalent to Tailwind's mt-20 */
  animation: gradientAnimation 3s ease infinite; /* Apply animation */
}
